body {
    font-family: 'Alef', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

h1 {
    text-align: center;
    color: #116035;
    font-size: 48px;
    margin-top: auto;
}

h2 {
    font-size: 22px;
    color: #116035;
}

.container {
    max-width: 800px;
    margin: auto;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.contact {
    background-color: #fafaed;
    padding: 5px;
    text-align: center;
    margin-top: 40px;
}

.logo {
    display: block;
    margin: auto;
}

.explenation {
    background: url(img/view.jpg) center;
    background-size: cover;
    padding: 10px;
}

.explenation .container {
    max-width: 70%;
    color: white;
    text-align: right;
}
