body {
    font-family: 'Alef', sans-serif;
    font-size: 18px;
    background-color: #dff4df;
}

h1 {
    text-align: center;
    color: #29ce30;
}

.container {
    max-width: 800px;
    margin: auto;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;    
}
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  } 
}

