body {
    font-family: 'Alef', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

h1 {
    text-align: center;
    color: #26a846;
    font-size: 55px;
    margin-top: auto;
}

h2 {
    font-size: 22px;
    color: #f2592a;
}

.container {
    max-width: 800px;
    margin: auto;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.contact {
    background-color: #fafaed;
    padding: 5px;
    text-align: center;

}

.logo {
    display: block;
    margin: auto;
}

.explenation {
    background: url(img/view.jpg) center;
    background-size: cover;
    padding-bottom: 40px;
    color: #fff;
}

.explenation .container {
    max-width: 60%;
    margin-right:10px;
}
.prodacts{
    padding: 40px 0;
    text-align: center;
}
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.gallery img{
    display: block;
    transition: .3s;
}
.gallery img:hover{
    transform: scale(1.05);
}
.button {
    border: 4px solid black;
    text-decoration: none;
    color: #000;
    background: #ffff;
    padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
    font-weight:900; 
}
.button:hover{
    color: #ffff;
    background: #000;
}
a{
    color:#26a846;
}